<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Ticket Reservation System | Flight Schedule</title>
</head>
<body>
    <h1>{{airline_name}}</h1>
    <h2>View Future Flights</h2>
    
    <p>Here are future flights for next 30 days:</p>
    
    <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }
    </style>
  
    <table>
      <th>Flight Number</th>
      <th>Arrival date</th>
      <th>Arrival Airport</th>
      <th>Departure date</th>
      <th>Departure Airport</th>
      <th>Customers</th>
      <tr>
        <td>{{row['flight_num']}}</td>
        <td>{{row['arrive_datetime']}}</td>
        <td>{{row['arrive_airport']}}</td>
        <td>{{row['dept_datetime']}}</td>
        <td>{{row['dept_airport']}}</td>
        <td><a href="/">Customer</a></td>   
    </tr>
    </table>
	
    <br>
    
    <p>You can search: </p>
    <form action="/searchFlight" method="POST">
            <p>
                <label for="source_city">Source city</label>
                <input type="text" name = "source_city" placeholder="" />
                <label for="source_airport">Source airport</label>
                <input type="text" name = "source_airport" placeholder="" />
            </p>
            <p>
                <label for="dest_city">Destination city</label>
                <input type="text" name = "dest_city" placeholder="" />
                <label for="dest_airport">Destination airport</label>
                <input type="text" name = "dest_airport" placeholder="" />
            </p>
            <p>
                <label for="dept_date">Departure date</label>
                <input type="text" name = "dept_date" placeholder="" />
                <label for="arrive_date">Return date</label>
                <input type="text" name = "arrive_date" placeholder=""/>
            </p>
            <p>
                <input type="submit" value = Search />
            </p>
        </form>
        
        
            {% if search %}
            <style type="text/css">
                table, th, td{
                    border: 1px solid black;
                }
            </style>
            <table>
                <th>Flight Number</th>
        <th>Arrival date</th>
        <th>Arrival Airport</th>
        <th>Departure date</th>
        <th>Departure Airport</th>
        <th>Customers</th>
        {% for row in search %}
        <tr>
        	<td>{{row['flight_num']}}</td>
            <td>{{row['arrive_datetime']}}</td>
            <td>{{row['arrive_airport']}}</td>
            <td>{{row['dept_datetime']}}</td>
            <td>{{row['dept_airport']}}</td>
            <td><a href="/">Customer</a></td>
            
        </tr>
        </table>
                {% endfor %}
        {% endif %}
        
        <br>
    
    <a href="/">Go back</a>



</body>
</html>
