<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Air Ticket Reservation System | Change Status Confirmation Page</title>
    </head>
<body>
    <h1>Change Status Confirmation</h1>
    <p>Flight status has been updated!</p>
    <br><br><br>
    <a href="/staff/view_flights">Go back</a><br><br>
    <a href="/home_staff">Go back to homepage</a><br><br>

</body>


</html>