<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Ticket Reservation System | View Earned Revenue</title>
</head>
<body>
    <h1>{{airline_name}} airline</h1>
    <h2>View Earned Revenue</h2>
    <p>Revenue earned this month: ${{rev_month}}</p>
    <p>Revenue earned this year: ${{rev_year}}</p>
	
        <br>
    
    <a href="/home_staff">Go back to homepage</a>

</body>
</html>
